@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&family=Special+Elite&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply uppercase;
}

a:hover {
  @apply hover:text-zinc-200 transition;
}

// Carousel
.splide__arrow.splide__arrow--prev {
  left: -3em;
}

.splide__arrow.splide__arrow--next {
  right: -3em;
}

.splide__pagination.splide__pagination--ltr {
  bottom: -3em;
  justify-content: center;
  margin: 0 auto;
}

.splide__pagination__page {
  @apply my-2 !bg-zinc-600 !w-5 !h-1 sm:!w-16;
  border-radius: 1em !important;
}

.splide__pagination__page.is-active {
  @apply !bg-white;
  transform: scale(1) !important;
}
